.loginform {
  background-color: aliceblue;
  width: 440px;
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title2 {
  margin: 16px;
  font-size: 30px;
  font-weight: 700;
}
.googleLogin,
.githubLogin {
  width: 430px;
  height: 38px;
  margin: 6px;
  background-color: transparent;
  border: 3px solid #273c75;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}
.githubLogin {
  margin-bottom: 20px;
}
